name: Call Terraform Tests, Docs & Compliance

on:
  pull_request:
    branches:
      - main

jobs:
  validate-pr:
    if: ${{ github.event_name == 'pull_request' }}
    uses: entur/gha-meta/.github/workflows/verify-pr.yml@v1
  terraform-lint:
    uses: entur/gha-terraform/.github/workflows/lint.yml@v2
    with:
      directory: "examples/init"
  terraform-lint-test:
    uses: entur/gha-terraform/.github/workflows/lint.yml@v2
    with:
      directory: "fixture/init_test"

  terraform-documentation:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs inside the README.md and push changes back to PR branch
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          working-dir: "modules/init"
          output-file: README.md
          output-method: inject
          git-push: "true"
